<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends "base.html" %}
{% block content %}

<section class="about">
  <h1>About My Resin Studio</h1>

  <p>
    Hi, I’m Inez — the creator behind this resin art shop.
    What started as a creative hobby quickly turned into a passion for
    designing one-of-a-kind handmade pieces.
  </p>

  <p>
    I love working with resin because no two pours are ever the same.
    Each tray, pendant, and coaster is carefully crafted by hand,
    sanded, polished, and finished with attention to detail.
  </p>

  <p>
    My goal is simple — to create beautiful, unique pieces that bring
    small moments of joy into your everyday life.
  </p>

  <p>
    Thank you for supporting handmade art and small businesses
  </p>
</section>

{% endblock %}
</head>
<body>

</body>
</html>